<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Create Lesson</title>
</head>
<header th:insert="header :: header"></header>
<body>
<div class="container p-5 overflow-hidden">
    <h1 class="h3 mb-5 fw-normal text-center">Create Lesson</h1>
    <div class="container w-25">
        <form class="row g-3 needs-validation" id="lessonForm"  th:action="@{/lessons/create}" th:object="${lesson}" method="post" novalidate>
            <div class="mb-3">
                <label for="userTrainerId" class="form-label">Trainer</label>
                <select class="form-select" id="userTrainerId" th:classappend="${#fields.hasErrors('userTrainerId')} ? 'is-invalid' : ''" th:field="*{userTrainerId}">
                    <option th:value="''" selected>Choose one</option>
                    <option th:each="userTrainer : ${trainers}" th:value="${userTrainer.id}"
                            th:text="|${userTrainer.firstName} ${userTrainer.lastName}|">
                    </option>
                </select>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('userTrainerId')}" th:errors="*{userTrainerId}"></div>
            </div>
            <div class="mb-3">
                <label for="danceStyleId" class="form-label">Dance Style</label>
                <select class="form-select" id="danceStyleId" th:classappend="${#fields.hasErrors('danceStyleId')} ? 'is-invalid' : ''" th:field="*{danceStyleId}">
                    <option th:value="''" selected>Choose one</option>
                    <option th:each="style : ${styles}" th:value="${style.id}"
                            th:text="${style.name}">
                    </option>
                </select>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('danceStyleId')}" th:errors="*{danceStyleId}"></div>
            </div>
            <div class="mb-3">
                <label for="startDatetime" class="form-label">Datetime</label>
                <input th:field="*{startDatetime}" th:classappend="${#fields.hasErrors('startDatetime')} ? 'is-invalid' : ''" class="form-control" type="datetime-local" id="startDatetime"
                       name="startDatetime" required>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('startDatetime')}" th:errors="*{startDatetime}"></div>
            </div>
            <div class="mb-3">
                <label for="duration" class="form-label">Duration</label>
                <input th:field="*{duration}" th:classappend="${#fields.hasErrors('duration')} ? 'is-invalid' : ''" class="form-control" id="duration">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}"></div>
            </div>
            <div class="mb-3">
                <label for="roomId" class="form-label">Room</label>
                <select th:field="*{roomId}" th:classappend="${#fields.hasErrors('roomId')} ? 'is-invalid' : ''" class="form-select" aria-label="Default select example" id="roomId">
                    <option th:value="''" selected>Choose one</option>
                    <option th:each="room : ${rooms}" th:value="${room.id}"
                            th:text="${room.name}">
                    </option>
                </select>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('roomId')}" th:errors="*{roomId}"></div>
            </div>
            <input th:field="*{timeZone}" class="form-control" type="hidden" id="timeZone"
                   name="timeZone">
            <button type="button" onclick="putTimeZone()" class="btn btn-lg btn-outline-success w-100 mt-2">Submit</button>
        </form>
    </div>
</div>
</body>
<script>
    function putTimeZone() {
        let lessonForm = document.getElementById("lessonForm");
        document.getElementById("timeZone").value = Intl.DateTimeFormat().resolvedOptions().timeZone;
        lessonForm.submit();
    }
</script>
</html>
